body {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("./images/pattern.jpeg");
}

.price {
    font-weight: bold;
    color:blue;
}

#brushes {
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: mediumspringgreen;
}


#frames {
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: lightcoral;
}

#paint {
    font-size: 32px;
    font-weight: bold;
    color:white;
    background-color: skyblue;
}